[submodule "munir"]
	path = munir
	url = https://github.com/stfc-aeg/munir.git
[submodule "odin-sequencer"]
	path = odin-sequencer
	url = https://github.com/stfc-aeg/odin-sequencer.git
[submodule "odin-orca-quest"]
	path = odin-orca-quest
	url = https://github.com/stfc-aeg/odin-orca-quest.git
[submodule "odin-kinesis"]
	path = odin-kinesis
	url = https://github.com/stfc-aeg/odin-kinesis.git
	branch=esrf-2025