# LiveX Acquisition Log


## Metadata
| Name                | Value   |
| ------------------- | ------- |
| Mode:               | {{ exp_mode }} |
| Campaign name:      | {{ campaign_name }} |
| Campaign type:      | {{ campaign_type }} |
| Alloy:              | {{ alloy }} |
| Sample id:          | {{ sample_id }} |
| Atmosphere:         | {{ atmosphere }} |
| Tags:               | {{ exp_tags }} |
| Acquisition number: | {{ acquisition_num }} |
| Experiment id:      | {{ experiment_id }} |
| Thermal gradient:   | {{ thermal_gradient }} |
| Cooling rate:       | {{ cooling_rate }}  |
| Sample velocity:    | {{ sample_velocity }} |

## Comments
{{ exp_comments }}

